// Color palette
$dark: #232323;
$red: #ef4444;
$white: #ffffff;
$blue-dark: #1e3a8a;

// Primary colors
$primary-extra-light: #f0fdff;
$primary-light: #dbf3f7;
$primary: #42c2cf;
$primary-dark: #0f7684;

// Neutral greys
$grey-extra-light: #f3f4f6;
$grey-light: #d1d5db;
$grey-medium: #9ca3af;
$grey-dark: #4b5563;

// Semantic colors
$error: $red;

// Breakpoints
$breakpoint-sm: 40rem;
$breakpoint-md: 48rem;
$breakpoint-lg: 64rem;
$breakpoint-xl: 80rem;
$breakpoint-2xl: 96rem;
