@use '../../../styles/_variable.scss' as *;

section {
  padding: 0;
  margin-bottom: 1rem;
}

.contentSection {
  background: $grey-extra-light;
  padding: 0;
}

.statsWrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.9rem;
}

@media (width >= $breakpoint-wide) {
  .statsWrap {
    grid-template-columns: 1.5fr 1fr;
    align-items: stretch;
  }
}
