@import '../../../../styles/variable.css';

.btn {
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.btn-outline {
  border: 1px solid var(--grey-light);
  background: transparent;
  color: var(--primary);
}
.btn-outline:hover {
  background: var(--primary);
  color: white;
  border: none;
}

.btn-primary {
  background: var(--primary);
  color: white;
  border: none;
}
